# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/tests/
/manager/
/.gitignore
/ht.access
/HISTORY.md
/composer.json
/license.txt
/.htaccess
/index.php
/.travis.yml
/phpunit.xml
/index-ajax.php
/robots.txt
/CONTRIBUTING.md
/.gitattributes
!/.gitignore
/assets/js/
/assets/flash/
/assets/files/
/assets/docs/
/assets/media/
/assets/modules/
/assets/site/
/assets/cache/
/assets/tvs/
/assets/backup/
/assets/import/
/assets/templates/
/assets/.thumbs/
/assets/export/
/assets/lib/
/assets/images/
/assets/plugins/qm/
/assets/plugins/managermanager/
/assets/plugins/tinymce4/
/assets/plugins/transalias/
/assets/plugins/forgotmanagerlogin/
/assets/plugins/codemirror/
/assets/plugins/filesource/
/assets/plugins/index.html
/assets/plugins/elementsintree/
/assets/snippets/DocLister/
/assets/snippets/firstchildredirect/
/assets/snippets/ultimateparent/
/assets/snippets/index.html
/assets/snippets/phpthumb/
/assets/snippets/docinfo/
/assets/snippets/FormLister/
/assets/snippets/if/
/assets/snippets/summary/
/assets/snippets/DLUsers/
/assets/elements/
/assets/index.html


/.idea
/assets/plugins/staticElements/

/assets/modules/store/core.php
!/assets/tvs/
/assets/tvs/index.html
/assets/tvs/multitv/
!/assets/tvs/multitv/
/assets/tvs/multitv/includes/
/assets/tvs/multitv/multitv.customtv.php
/assets/tvs/multitv/docs/
/assets/tvs/multitv/multitv.module.php
/assets/tvs/multitv/configs/
/assets/tvs/multitv/buttons/
/assets/tvs/multitv/dittoExtender/
/assets/tvs/multitv/updatetv.snippet.php
/assets/tvs/multitv/moduleconfigs/
/assets/tvs/multitv/languages/
/assets/tvs/multitv/templates/
/assets/tvs/multitv/multitv.snippet.php
/assets/tvs/multitv/processors/
/assets/tvs/multitv/transformtv.snippet.php
/assets/tvs/multitv/multitv.connector.php
/assets/tvs/multitv/settings/
/assets/tvs/multitv/phx-modifier/
/assets/tvs/multitv/css/
/assets/tvs/multitv/js/
!/assets/tvs/multitv/configs/notIn.config.inc.php
!/assets/tvs/multitv/configs/
/assets/tvs/multitv/configs/dbtabledemo.config.json
/assets/tvs/multitv/configs/default.config.inc.php
/assets/tvs/multitv/configs/multidemo.config.inc.php
/assets/tvs/multitv/configs/images.config.inc.php
/assets/tvs/multitv/configs/sidebar.config.inc.php
/assets/tvs/multitv/configs/links.config.inc.php
/assets/tvs/multitv/configs/multicontent.config.inc.php
/assets/tvs/multitv/configs/event.config.inc.php
